<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/scripts %>

</head>
<body>

  <h1>ERROR</h1>
  <h2><%= error.message %></h2>
  <pre><%= error.stack %></pre>

</body>
</html>
