<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review for <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <%- include ./navbar %>
  <h1>New Review for <%= album.title %></h1>
  <form>
    <textarea class="new-review-box" rows="15" cols="55" name="content"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>
