<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <%- include ./partials/scripts %>

</head>
<body>
  <%- include ./partials/navbar %>

  <form action="/signin" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email"/>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password"/>
    <button type="Submit">Sign In</button>
  </form>
</body>
