<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <%- include ./navbar %>

  <form action="/signin" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email"/>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password"/>
    <button type="Submit">Sign In</button>
  </form>
</body>
