<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <%- include ./partials/scripts %>

</head>
<body>
  <%- include ./partials/navbar %>
  <h1 class="authentication-form-title">Sign In</h1>
  <br>
  <br>
  <form class="authentication-form" action="/signin" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email"/>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password"/>
    <br>
    <br>
    <button class="authentication-button" type="Submit">Sign In</button>
  </form>
</body>
