html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Navbar::::*/
li {
  display: inline;
  float: left;
  padding: 0;
  line-height: 10px;
}

.navbar {
  height: 40px;
}

.righthand-links {
  float: right;
}

/*Homepage:::*/
.home-page-image {
  height: 400px;
  width: 100%;
}

.album-list {
  float: left;
}

.recent-reviews {
  float: right;
}

/*Album reviews:::*/
.recent-reviews-heading {
  margin-left: 11px;
}

.album-reviewed {
  display: inline-block;
}

.review-date {
  display: inline-block;
  margin-right: 30px;
}

.fa-trash {
  display: inline-block;
}

.review-content {
  margin-left: 14px;
  margin-right: 45px;
}

.space-before-author {
  display: inline-block;
}

.review-author {
  display: inline-block;
}

/*Album page:::*/
.album-page-heading {
  display: block;
  text-align: left;
  margin-left: 190px;
}

.album-page-review-list-heading {
  display: block;
  text-align: left;
  margin-left: 172px;
}

.album-page-review-list-title {
  display: inline-block;
}

.get-new-review-page-button {
  display: inline-block;
}

.album-page-individual-review {
  margin: auto;
  width: 70%;
  padding: 0px;
}
