html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Navbar::::*/
li {
  display: inline;
  float: left;
  padding: 0;
  line-height: 10px;
}

.navbar {
  height: 40px;
}

.righthand-links {
  float: right;
}

/*Homepage:::*/
.home-page-image {
  height: 400px;
  width: 100%;
}

.album-list {
  float: left;
}

.recent-reviews {
  float: right;
}

/*Sign In and Sign Up pages:::*/
.authentication-form-title {
  text-align: center;
}

.authentication-form {
  text-align: center;
}

.authentication-form label {
  width: 75px;
}

.authentication-button {
  margin-left: 182px;
}

/*User page:::*/
.profile-pic {
  display: inline-block;
  vertical-align: middle;
}

.user-page-title {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.user-review-list {
  padding-left: 210px;
  padding-right: 180px;
}

/*Album page:::*/
.album-page-heading {
  display: block;
  text-align: left;
  margin-left: 190px;
}

.album-page-review-list {
  margin: auto;
  width: 70%;
  padding: 0px;
}

.album-page-review-list-heading {
  display: block;
  text-align: left;
  margin-left: 172px;
}

.album-page-review-list-title {
  display: inline-block;
}

.get-new-review-page-button {
  display: inline-block;
}

/*New Review Form page:::*/
.new-review-form-title {
  padding-left: 200px;
}

.new-review-form {
  padding-left: 250px;
  padding-right: 200px;
}

.new-review-submit-button {
  float: right;
  margin-left: 396px;
}

/*Album reviews (user and album pages):::*/
.album-id {
  display: none;
}

.review-id {
  display: none;
}

.recent-reviews-heading {
  margin-left: 11px;
}

.album-reviewed {
  display: inline-block;
}

.review-date {
  display: inline-block;
  margin-right: 30px;
}

.fa-trash {
  display: inline-block;
}

.review-content {
  margin-left: 14px;
  margin-right: 45px;
}

.space-before-author {
  display: inline-block;
}

.review-author {
  display: inline-block;
}
